<div class="tab-content" id="ProductDetailsContent">
    <div id="sectionA" class="tab-pane fade in active">
      <div class="jumbotron text-center">
        <h1>Welcome to Huawei Tools Portal</h1>
        <p>Just navigate to any page and run the tool</p>
        </div>
    </div>
    <div id="sectionB" class="tab-pane fade">
        <div class="container">
            <h3>DTS - DCT</h3>
            <div class="container">
                <div class="jumbotron">
                    <div class="form-group">
                      <label for="comment">Enter your search text below:</label>
                      <textarea class="form-control" rows="10" id="comment"></textarea>
                    </div>
                    <input type="submit" class="btn btn-info" value="Start Query">
                </div>
                <h4>Instructions</h4>
                <p>This tool helps you checks your input query against the DTS DB to search for any duplicate tickets with same/similar information.</p>
            </div>
        </div>
    </div>
        <div id="sectionC" class="tab-pane fade">
            <div class="container">
          <h3>New Tool</h3>
          <p>This space is reserved for the integration of the new tool into the Tools Portal.</p>
            </div>
        </div>
    </div>
</div>