<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <title>Login</title>      <!-- import plugin script -->
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <link rel="stylesheet" href="static/css/fontawesome.min.css">

</head>
    <body>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.js"></script>
    <script type="text/javascript" src="static/js/Chart.min.js"></script>
    <script type="text/javascript" src="static/js/linegraph.js"></script>


    <div class="navbar navbar-inverse">
        <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                        </div>
                        <div class="collapse navbar-collapse" id="mynavbar">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/register"><span class="glyphicon glyphicon-pencil"></span> Register</a></li>
                            </ul>
                        </div>
        </div>
    </div>

    <div class="container">
        <div class="jumbotron">
            <h4>Please Login:</h4>
            <div class="container">

                <br>
                <form action="" class="form-inline" method="post">
                    <input type="text" class="form-control" placeholder="Username" name="username" value="{{request.form.username}}">
                    <input type="password" class="form-control" placeholder="Password" name="password" value="{{request.form.password}}">
                    <input class="btn btn-default" type="submit" value="Login">
                </form>
                <div>
                     {% with messages = get_flashed_messages() %}
                       {% if messages %}
                          {% for message in messages %}
                             {{ message }}
                          {% endfor %}
                       {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
    </body>
</html>